

*{
    margin: 0;
    padding: 0;
}
body {
background-color: #e9fa8b;
background-size: cover;
background-position: center;

}
#titoloContainer {
    display: flex;
    background-color: beige;
    align-items: center;
    justify-content: center;

    padding: 10px;
}
.logo img {
    width: 100px;
}
.titolo {
    text-align: center;
}

#primoContainer{
    display: flex;
    justify-content: center;
    background-color: beige;
    border-radius: 100px;
    width: 62%;
    gap: 22px;
    padding: 20px;
    min-width: 300px;
    height: auto;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
}

#shop {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 40px;
    width: 300px;
    height: 70px;
    align-items: center;

}
#shop img {
width: 60px;

}
#shop button{

    width: 260px;
    background-color: rgb(224, 224, 93);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    height: 90px;
}
#shop button:hover {
    background-color: rgb(172, 172, 10);
}

#shopFlex {
    display: flex;
  justify-content: center;
gap: 30px;

}
.SP {
   font-size: 27px;
   margin-top: 12px;
}

 button{
    margin: 10px;
    background-color: #FFDF7E;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: none;
    width: 100px;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(172, 172, 10);
}
#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 115px;
}
#card {
    width: 200px;
    background-color: beige;
    min-width: 250px;
    min-height: 330px;
    border-radius: 75px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 30px;
}
#card:hover {
    transform: scale(1.1);
cursor: grab;
}
#card img {
width: 250px;
object-fit: cover;
}

.prezzo {
    display: flex;
    align-items: center;
    gap: 50px ;
    margin-left: 20px;
    margin-top: 20px;
}
 
.cardButton {
 margin-top: 25px;
 margin-left: 22px;
    background-color: #FFDF7E;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: none;
    width: 200px;
}

#description {
display: flex;
flex-wrap: wrap-reverse;
background-color: beige;
border-radius: 50px;
margin-left: 10px;
margin-right: 10px;
margin-top: 40px;

}

#description img {
    flex: 1 1 500px;
    overflow: hidden;
    margin: 20px;
    object-fit: cover;
    border-radius: 20px;
}




.articolo {
    flex: 1 1 430px;
 margin: 20px;
}

.articolo h3 {
  margin-bottom: 10px;
    margin-top: 10px;
}

.foot{
    background-color: beige;
    margin-top: 40px;
    padding: 10px;
}
.foot p {
  font-size: 0.6cm;
border-bottom: solid ;
  margin-bottom: 7px;

}
  

